a {
    text-decoration-line:none;
}

.card > a {
    color: black;
}

*{
    font-size: 16px;
    font-family: 'Noto Sans', 'sans-serif';
    line-height: 1;
    margin: 0;
    padding: 0;
    list-style: none;
    word-break: keep-all;
    box-sizing: border-box;
}

button {
    border: none;
    background: none;
}
