#posts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards {
    display:grid;
    grid-template-columns: 85vw; 
    border-right: 0.01vw solid black;
}

.card{
    border-left: 0.01vw solid black;
    border-bottom: 0.01vw solid black;
}

.card .title{
    padding:5vw;
    font-size: 4vw;
}

.summary{
    padding:3vw 5vw 50vw 5vw;
    font-size: 3.5vw;
}

time{
    display:inline-block;
    padding:3vw 5vw 10vw 5vw;
}

.reaction{
    display: inline-block;
    padding: 3vw 1vw 10vw 45vw;
}

.more button{
    font-size : 30px;
    background-color: #4593FC;
    border: 1.50px solid black;
    color: white;
    border-radius: 33px;
    padding:12px 35px 12px 35px;
}

.more{
    padding:45px;
}

@media (min-width:600px){
    .cards {
        grid-template-columns: 16em 16em; 
    }

    .card .title{
        padding:1em;
        font-size: 1em;
    }

    .summary{
        padding:1em 1em 9em 1em;
        font-size: 1em;
    }

    time{
        padding:1em 2em 1em 1em;
    }

    .reaction{
        padding: 1em 1em 1em 3em;
    }
}

@media (min-width:900px){
    .cards {
        grid-template-columns:18em 18em 18em; 
    }

    .card .title{
        padding:1em;
        font-size: 1.3em;
    }

    .summary{
        padding:1em 1em 8em 1em;
        font-size: 1em;
    }

    time{
        padding:1em 1em 1em 1em;
    }

    .reaction{
        padding: 1em 1em 1em 7em;
    }

}

@media (min-width:1024px) {
    #posts .cards {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        max-width: 1024px;
    }
    .reaction{
        padding: 1em 1em 1em 5em;
    }
}
